//Button fonts and colours
  $standard-button-color: #ffffff;
  $standard-button-font: "Open Sans";
  $standard-button-size: 18pt;
//
//Search bar fonts and colours
  $standard-searchbar-font: "Open Sans";
  $standard-searchbar-color: #000000;
  $standard-searchbar-size: 14pt;
//
